* {
  box-sizing: border-box;
  margin: 0;
}

.header{
  background-color: purple;
  color: white;
  padding: 5px;
}

table{
  background-color: purple;
  color: white;
  text-align: left;
  margin: 20px auto;
  border: 1px solid black;
  width: 70%;
}

table thead{
  width: 100%;
}

table th{
  text-align: center;
}

table td, th{
  padding: 5px;
  border: 1px solid black;
}

#comparisonForm {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 background-color: rgba(142, 131, 131, 0.8);
 max-width: 60%;
 padding: 5px;
 border-radius: 5px;
 margin: auto;
}

#comparisonForm input{
  margin: 3px;
}

.dashboard {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.dashboard button{
  width: 100px;
  display: block;
  margin-left: auto;
}